//- Pug for the home page
doctype html
html(lang="en")
    head
        title Home
    body
        include ../partial/header
        br

        div#main
            text Welcome to our webiste. Click on one of the links above!

        include ../partial/footer
